body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: url("../img/bg.jpg") top no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* 
*========================
*         Header        *
*========================
*/

#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
  color: #fff;
  border-bottom: 3px solid darkorange;
  padding-bottom: 6px;
}

#header .social-links {
  margin-top: 40px;
  display: flex;
}

#header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

#header .social-links a:hover {
  background: darkorange;
  transition: all 0.1s;
}

/* *-- Nav Menu --* */
.navbar-toggler {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  color: #fff;
}

.nav-menu {
  margin-top: 35px;
}

.nav-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li {
  margin-right: 30px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.nav-menu a:before {
  content: "";
  position: absolute;
  bottom: -4px;
  border-bottom: 2px solid darkorange;
  visibility: hidden;
  transition: all 0.1s ease-in-out 0s;
  width: 0;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #fff;
  text-decoration: none;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

/* 
*========================
*         Footer        *
*========================
*/

#footer {
  background: rgba(255, 145, 0, 0.6);
  padding: 25px 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

/* 
*====================================
*         Screen Adjustments        *
*====================================
*/

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #header .social-links {
    margin-top: 15px;
  }
  #header .container,
  .nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-menu li {
    margin: 0px 0px 20px 0px !important;
  }
  .navbar-toggler {
    display: block !important;
  }
}

@media (max-width: 768px) {
  #header h1 {
    font-size: 26px;
  }
}
